# 2015: matt
# The plan: a canonical, minimal openssh sshd config.
# We ditch all cruft, selecting for paying attention and tracking the front
# edge of crypto thinking.
# This is a decision to pay the overhead of not tracking upstream config-file
# defaults. Blame me.
# Keygen howto:
#  cd /etc/ssh
#  sudo rm ssh_host_*key*
#  sudo ssh-keygen -t ed25519 -f ssh_host_ed25519_key < /dev/null
#  sudo ssh-keygen -t rsa -b 4096 -f ssh_host_rsa_key < /dev/null

AcceptEnv LANG LC_*
ChallengeResponseAuthentication no
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
LoginGraceTime 30
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com
PrintMotd no
Protocol 2
PubkeyAuthentication yes
PasswordAuthentication no
Subsystem sftp /usr/lib/openssh/sftp-server
UsePAM yes
X11Forwarding yes
