# ssh-keygen -t ed25519 -o -a 100
# ssh-keygen -t rsa -b 4096 -o -a 100
# aes256-ctr included for arubas
Compression  no
ControlMaster auto
ControlPath ~/.ssh/control-%r@%h:%p
ControlPersist 8h
ForwardAgent yes
ForwardX11  no
ForwardX11Trusted  no
HashKnownHosts yes
KeepAlive  yes
Protocol  2

Host *
  KexAlgorithms sntrup761x25519-sha512@openssh.com,curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
  PubkeyAuthentication yes
  HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ssh-ed25519,ssh-rsa
  Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes256-ctr
  MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256

Host *.openbsd.org
  User anoncvs
  ChallengeResponseAuthentication no
  ForwardAgent no
  KbdInteractiveAuthentication no
  PasswordAuthentication no

