# Adapted from https://stribika.github.io/2015/01/04/secure-secure-shell.html

AcceptEnv LANG LC_*
ChallengeResponseAuthentication no
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes256-ctr
Compression no
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
KexAlgorithms sntrup761x25519-sha512@openssh.com,curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
LoginGraceTime 15
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256
PrintMotd no
Protocol 2
PubkeyAuthentication yes
PasswordAuthentication no
Subsystem sftp /usr/libexec/sftp-server
X11Forwarding no
