		<string>shadeout.nodeless.net</string>
		<string>96.88.251.137</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>48</integer>
			</dict>
			<key>DiffieHellmanGroup</key>
			<integer>18</integer>
			<key>EncryptionAlgorithm</key>
			<integer>4</integer>
			<key>IntegrityAlgorithm</key>
			<integer>5</integer>
			<key>LifeTime</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NEVPNIKEv2SecurityAssociationParameters</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NEVPNIKEv2SecurityAssociationParameters</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>48</integer>
			</dict>
			<key>DiffieHellmanGroup</key>
			<integer>18</integer>
			<key>EncryptionAlgorithm</key>
			<integer>6</integer>
			<key>IntegrityAlgorithm</key>
			<integer>5</integer>
			<key>LifeTime</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NEVPNProtocolIKEv2</string>
				<string>NEVPNProtocolIPSec</string>
				<string>NEVPNProtocol</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NEVPNProtocolIKEv2</string>
		</dict>
		<string>sietchtabr</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>62</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>53</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>54</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>55</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>63</integer>
				</dict>
			</array>
		</dict>
